<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FAQ update</title>
</head>
<body>
<h1>FAQ update</h1>
<form action="/updateFAQ" method="post">
    <div>
        <label>Enter id:</label>
        <input type="text" name="id">
    </div>
    <div>
        <label>Enter question:</label>
        <input type="text" name="question">
    </div>
    <div>
        <label>Enter answer:</label>
        <input type="text" name="answer">
    </div>
    <button type="submit">Submit</button>
</form>
</body>
</html>