@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
  box-sizing: border-box;
}
body {
  background: #227994 !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
}

body,
html,
.App,
#root,
.auth-wrapper {
  
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #7dbff5;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}



.auth-wrapper .form-control:focus {
  border-color: #5673c4;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #5e82b1;
}
.App-logo {
  width:150px;
  height:75px;
  pointer-events: none;
}
.HomePage-logo {
  height: 200px;
  pointer-events: none;
}
.App-login {
  text-align: right;
  display: right;
}
.App-signup {
  text-align: right;
  
}

.App-LogOut{
text-align: right;
display: right;
margin: 10px 5px;
}


.App-Admin {
text-align: right;


}

.countdown_wrapper .countdown_bottom {
  display: flex;
  background: #0b89d3;
  padding: 40px 80px;
}

.countdown_wrapper .countdown_time {
  font-size: 70px;
  border-right: 1px solid #810314;
  margin-right: 14px;
  padding-right: 49px;
}


.countdown_wrapper .countdown_tag {
  text-transform: uppercase;
  font-size: 20px;
  padding-left: 7px;
}

.wrapper_navbar {
  display: flex;
  background: #0b89d3;
  padding: 20px 20px;
}
.auth-inner-navbar {
  width: 800px;
  height: 5px;
  margin: auto;
  
  background: #4400ff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 20px 20px 20px 20px;
  border-radius: 15px;
  transition: all 0.3s;
}